- if page.pages
	%a{title: page.title, href: page.url}
		%h1= page.title
- else
	%h1= page.title

= page.content

- unless page.pages
	%p.meta
		- if page.previous
			%a{class: "left", title: "Previous Post: #{page.previous.title}", href: page.previous.url} &laquo; #{page.previous.title}
		- if page.next
			%a{class: "right", title: "Next Post: #{page.next.title}", href: page.next.url} &laquo; #{page.next.title}
