!!!
%html
	%head
		%meta{charset: "utf-8"}
		%title= (page.title ? "#{page.title} - " : "") + site.title
		
		= stylesheet_link
		= javascript_link
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{rel: "alternate", type: "application/rss+xml", title: "RSS", href: "/feed.xml"}
		/[if lt IE 9]
			= javascript_link "html5shiv"
		= addons(:head)
	
	%body{class: page.id}
		%div.wrapper
			%header
				%h1= link_to site.title, site.base_url
				%p= site.tagline
			
			%section
				= page.content
			
			%footer
				%p
					Blog by
					= site.author
				%p
					%small
						Powered by Alula &mdash; Theme by&nbsp;
						%a{href: "https://github.com/orderedlist"} orderedlist
		= javascript_link "scripts_body"
		= addons(:body)