- item.posts.each do |post|
  %article{itemscope:true, itemtype:"http://schema.org/BlogPosting"}
    .post
      .meta
        %time{datetime: post.date.strftime("%FT%T%:z"), itemprop: "pubdate", data: {updated: true}}
          = I18n.l(post.date, format: "%a %d %b %Y", locale: locale)
    
      %h1{itemprop:"headline"}= link_to post.title, post.url
      .articleBody{itemprop:"articleBody"}= post.body
    
      .spacer

%p.navigation
  - if item.previous
    %a{class: "left", title: I18n.t('paginate.older_posts', locale: locale), href: item.previous.url} &laquo; #{I18n.t('paginate.older_posts', locale: locale)}
  - if item.next
    %a{class: "right", title: I18n.t('paginate.newer_posts', locale: locale), href: item.next.url} #{I18n.t('paginate.newer_posts', locale: locale)} &raquo;
