- item.posts.each do |post|
  .post
    .meta
      %time{datetime: item.date.strftime("%FT%T%:z"), pubdate: true, data: {updated: true}}
        = item.date.strftime("%a %d %b %Y")
    
    %h1= link_to post.title, post.url
    %p= post.body
    
    .spacer

%p.navigation
  - if item.previous
    %a{class: "left", title: "Older Posts: #{I18n.t('paginate.older_posts', locale: locale)}", href: item.previous.url} &laquo; #{I18n.t('paginate.older_posts', locale: locale)}
  - if item.next
    %a{class: "right", title: "Newer Posts: #{I18n.t('paginate.newer_posts', locale: locale)}", href: item.next.url} #{I18n.t('paginate.newer_posts', locale: locale)} &raquo;
