.post
  .meta
    %time{datetime: item.date.strftime("%FT%T%:z"), itemprop: "pubdate", data: {updated: true}}
      = I18n.l(item.date, format: "%a %d %b %Y", locale: locale)
  
  %h1= item.title
  = content
  
  - if item.navigation
    %p.navigation
      - if item.previous
        %a{class: "left", title: I18n.t('post.previous', locale: locale), href: item.previous.url} &laquo; #{I18n.t('post.previous', locale: locale)}
      - if item.next
        %a{class: "right", title: I18n.t('post.next', locale: locale), href: item.next.url} #{I18n.t('post.next', locale: locale)} &raquo;
  
  .spacer
	